.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.DS_Store
Markov models/.DS_Store
Markov models/Markov Sick-Sicker/solutions/.Rhistory
static/Course_Modularization/Markov models/Markov-3-state-oncology/un_rate.RDS
static/Course_Modularization/Markov models/Markov-3-state-oncology/un_rate2.RDS
