---
title: Intro to R assessments

date: "2021-04-05"

draft: false
type: docs

linktitle: Intro to R assessments
menu:
  day2:
    weight: 3
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<div id="student-template" class="section level2">
<h2>Student template</h2>
<p><a href="../../../Course_Modularization/Intro%20to%20R/Worksheets/Student%20Templates/Recap_Exercises_Template.Rmd">Download student template</a></p>
</div>
<div id="instructor-solutions" class="section level2">
<h2>Instructor solutions</h2>
<!-- #[Download instructor solutions](../../../rmds/02_Introduction_solutions.Rmd) -->
<p>Solutions will be uploaded after April 16.</p>
</div>
