---
title: 'Microsimulation Sick-Sicker model'
subtitle: 'Includes individual characteristics: age, age dependent mortality probabilities, individual treatment effect modifyer'
author: "The DARTH workgroup"
output:
  pdf_document: default
  html_document: default
---

<link href="/rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<p>Developed by the Decision Analysis in R for Technologies in Health (DARTH) workgroup:</p>
<p>Fernando Alarid-Escudero, PhD (1)</p>
<p>Eva A. Enns, MS, PhD (2)</p>
<p>M.G. Myriam Hunink, MD, PhD (3,4)</p>
<p>Hawre J. Jalal, MD, PhD (5)</p>
<p>Eline M. Krijkamp, MSc (3)</p>
<p>Petros Pechlivanoglou, PhD (6,7)</p>
<p>Alan Yang, MSc (7)</p>
<p>In collaboration of:</p>
<ol style="list-style-type: decimal">
<li>Drug Policy Program, Center for Research and Teaching in Economics (CIDE) - CONACyT,
Aguascalientes, Mexico</li>
<li>University of Minnesota School of Public Health, Minneapolis, MN, USA</li>
<li>Erasmus MC, Rotterdam, The Netherlands</li>
<li>Harvard T.H. Chan School of Public Health, Boston, USA</li>
<li>University of Pittsburgh Graduate School of Public Health, Pittsburgh, PA, USA</li>
<li>University of Toronto, Toronto ON, Canada</li>
<li>The Hospital for Sick Children, Toronto ON, Canada</li>
</ol>
<p>Please cite our publications when using this code:</p>
<ul>
<li><p>Jalal H, Pechlivanoglou P, Krijkamp E, Alarid-Escudero F, Enns E, Hunink MG.
An Overview of R in Health Decision Sciences. Med Decis Making. 2017; 37(3): 735-746.
<a href="https://journals.sagepub.com/doi/abs/10.1177/0272989X16686559" class="uri">https://journals.sagepub.com/doi/abs/10.1177/0272989X16686559</a></p></li>
<li><p>Krijkamp EM, Alarid-Escudero F, Enns EA, Jalal HJ, Hunink MGM, Pechlivanoglou P.
Microsimulation modeling for health decision sciences using R: A tutorial.
Med Decis Making. 2018;38(3):400–22.
<a href="https://journals.sagepub.com/doi/abs/10.1177/0272989X18754513" class="uri">https://journals.sagepub.com/doi/abs/10.1177/0272989X18754513</a></p></li>
<li><p>Krijkamp EM, Alarid-Escudero F, Enns E, Pechlivanoglou P, Hunink MM, Jalal H.
A Multidimensional Array Representation of State-Transition Model Dynamics.
Med Decis Making. 2020 Online first. <a href="https://doi.org/10.1177/0272989X19893973" class="uri">https://doi.org/10.1177/0272989X19893973</a></p></li>
</ul>
<p>Copyright 2017, THE HOSPITAL FOR SICK CHILDREN AND THE COLLABORATING INSTITUTIONS.
All rights reserved in Canada, the United States and worldwide. Copyright,
trademarks, trade names and any and all associated intellectual property are
exclusively owned by THE HOSPITAL FOR Sick CHILDREN and the collaborating
institutions. These materials may be used, reproduced, modified, distributed
and adapted with proper attribution.</p>
<div style="page-break-after: always;"></div>
<p>Change <code>eval</code> to <code>TRUE</code> if you want to knit this document.</p>
<pre class="r"><code>rm(list = ls())      # clear memory (removes all the variables from the workspace)</code></pre>
<div id="load-packages" class="section level1">
<h1>01 Load packages</h1>
<pre class="r"><code>if (!require(&#39;pacman&#39;)) install.packages(&#39;pacman&#39;); library(pacman) # use this package to conveniently install other packages
 # load (install if required) packages from CRAN
 p_load(&quot;here&quot;, &quot;dplyr&quot;, &quot;devtools&quot;, &quot;scales&quot;, &quot;ellipse&quot;, &quot;ggplot2&quot;, &quot;lazyeval&quot;, &quot;igraph&quot;, &quot;ggraph&quot;, &quot;reshape2&quot;, &quot;knitr&quot;)                                               
 # load (install if required) packages from GitHub
# install_github(&quot;DARTH-git/dampack&quot;, force = TRUE) # Uncomment if there is a newer version
# install_github(&quot;DARTH-git/darthtools&quot;, force = TRUE) # Uncomment if there is a newer version
p_load_gh(&quot;DARTH-git/dampack&quot;, &quot;DARTH-git/darthtools&quot;)</code></pre>
</div>
<div id="load-functions" class="section level1">
<h1>02 Load functions</h1>
<pre class="r"><code># No functions needed</code></pre>
</div>
<div id="input-model-parameters" class="section level1">
<h1>03 Input model parameters</h1>
<pre class="r"><code>set.seed(1)  # set the seed  

# Model structure 
n_t   &lt;- 30                       # time horizon, 30 cycles
n_i   &lt;- 100000                   # number of simulated individuals
v_n   &lt;- c(&quot;H&quot;, &quot;S1&quot;, &quot;S2&quot;, &quot;D&quot;)  # the model states names
n_states   &lt;- length(v_n)         # the number of health states
d_r   &lt;- 0.03                     # discount rate of 3% per cycle
v_dwe &lt;- v_dwc &lt;- 1 / ((1 + d_r) ^ (0:n_t))    # discount weight 
v_names_str &lt;- c(&quot;no treatment&quot;, &quot;treatment&quot;)  # strategy names
n_str &lt;- length(v_names_str)      # number of strategies

### Event probabilities (per cycle)
# Annual transition probabilities
p_HS1   &lt;- 0.15                   # probability of becoming sick when healthy
p_S1H   &lt;- 0.5                    # probability of recovering to healthy when sick
p_S1S2  &lt;- 0.105                  # probability of becoming sicker when sick

# Annual probabilities of death
# load age dependent probability
p_mort   &lt;- read.csv(&quot;mortProb_age.csv&quot;)
# load age distribution
dist_Age &lt;- read.csv(&quot;MyPopulation-AgeDistribution.csv&quot;)

p_S1D    &lt;- 0.0149          # probability to die in S1 by cycle 
p_S2D    &lt;- 0.048           # probability to die in S2 by cycle

# Cost inputs
c_H     &lt;- 2000             # cost of one cycle in the healthy state
c_S1    &lt;- 4000             # cost of one cycle in the sick state
c_S2    &lt;- 15000            # cost of one cycle in the sicker state
c_D     &lt;- 0                # cost of one cycle in the dead state
c_Trt   &lt;- 12000            # cost of treatment (per cycle)

# Utility inputs
u_H     &lt;- 1                # utility when healthy 
u_S1    &lt;- 0.75             # utility when sick 
u_S2    &lt;- 0.5              # utility when sicker
u_D     &lt;- 0                # utility when dead
u_Trt   &lt;- 0.95             # utility when sick and being treated</code></pre>
</div>
<div id="sample-individual-level-characteristics" class="section level1">
<h1>04 Sample individual level characteristics</h1>
<div id="static-characteristics" class="section level2">
<h2>04.1 Static characteristics</h2>
<pre class="r"><code># your turn</code></pre>
</div>
<div id="dynamic-characteristics" class="section level2">
<h2>04.2 Dynamic characteristics</h2>
<pre class="r"><code># your turn</code></pre>
</div>
</div>
<div id="define-simulation-functions" class="section level1">
<h1>05 Define Simulation Functions</h1>
<div id="probability-function" class="section level2">
<h2>05.1 Probability function</h2>
<p>The function that updates the transition probabilities of every cycle is shown below.</p>
<pre class="r"><code># your turn</code></pre>
</div>
<div id="cost-function" class="section level2">
<h2>05.2 Cost function</h2>
<p>The <code>Costs</code> function estimates the costs at every cycle.</p>
<pre class="r"><code># your turn</code></pre>
</div>
<div id="health-outcome-function" class="section level2">
<h2>05.3 Health outcome function</h2>
<p>The <code>Effs</code> function to update the utilities at every cycle.</p>
<pre class="r"><code># your turn</code></pre>
</div>
</div>
<div id="run-microsimulation" class="section level1">
<h1>06 Run Microsimulation</h1>
<pre class="r"><code># your turn</code></pre>
</div>
<div id="visualize-results" class="section level1">
<h1>07 Visualize results</h1>
<pre class="r"><code># your turn</code></pre>
</div>
<div id="cost-effectiveness-analysis" class="section level1">
<h1>08 Cost Effectiveness Analysis</h1>
<pre class="r"><code># your turn</code></pre>
</div>
